VITE_SUPABASE_URL=https://bcpcktordkkmatpibmfz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjcGNrdG9yZGtrbWF0cGlibWZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMxODU5MTEsImV4cCI6MjA3ODc2MTkxMX0.LU6WbnJ6bKIwO7u6e90nKR4DQU_spLmhfU5TpRkpKKY
GOOGLE_CLIENT_ID=1031460775456-io8l2ds7v4p0gmjihn3aauidbss5h9vj.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

